<html>
<header>
</header>
<body>
	2f21b28b-6251-4c8e-861f-6218bdf7e4b6

	<a href="https://api.upstox.com/v2/login/authorization/dialog?response_type=code&client_id=2f21b28b-6251-4c8e-861f-6218bdf7e4b6&redirect_uri=http://127.0.0.1:8000/polls&state=Sandbox
">return to localhost</a>		<br />
		<br />
		Client id: cc982509-6fa9-4046-939d-41b190aa9252
	  
		<a href="
		   https://api.upstox.com/v2/login/authorization/dialog?response_type=code&client_id=cc982509-6fa9-4046-939d-41b190aa9252&redirect_uri=https://upstox-app.azurewebsites.net/polls&state=<Your-Optional-State-Parameter-Here>"
> Lets log in </a>
</body>
<footer>
</footer>
</html>