<!DOCTYPE html>
<html>
<head>
    <title>JSON Data</title>
</head>
<body>

    <h1>JSON Data</h1>

    <script>
        // Get JSON data from Django context
        const jsonData = {{ my_json_data|safe }};

        // Display the data (you can customize how you present it)
        document.write("<pre>" + JSON.stringify(jsonData, null, 2) + "</pre>");
    </script>
    <ol>
        <li>
    <a href="{{ localdomain }}">Start again</a> <br /></li>
        <li>
    <a href="{{ azuredomain }}"> On azure</a></li>
    <br />

        <li>
    <a href="{{ localdomain}}/polls/funds">See funds on localhost </a> <br />
            </li>

    <li>
    <a href="{{ localdomain}}/upstox-app/optionsdata">See options data on localhost </a> <br />
            </li>
    
    </ol>

    
</body>
</html>